

/*h3{
	position: absolute;
	right: 40px;
	margin-right: auto;
	width: 22%;
	border: 1px solid black ;
	font-family: Tahoma, Verdana, sans-serif;
	font-weight: bold; 
}*/
/*#r1,#r2,#r3{
	position: relative;
	top: 30px;
	bottom: 30px;
}*/
.container-fluid{position: relative;}
#r1{	box-sizing: border-box;
	position: relative;
	}
#h1{
	position: absolute;
	right: 8px;
	top: -2px;
	
	width: 22%;
	border: 1px solid black ;
	font-family: Tahoma, Verdana, sans-serif;
	font-weight: bold; 
	background-color: red;
	 }
	#h2{position: absolute;
	right: 8px;
	top:-2px;
	
	background-color: yellow;
	width: 22%;
	border: 1px solid black ;
	font-family: Tahoma, Verdana, sans-serif;
	font-weight: bold; }
	#h3{position: absolute;
	right: 8px;
	top: -2px;
	
	background-color: pink;
	width: 30%;
	border: 1px solid black ;
	font-family: Tahoma, Verdana, sans-serif;
	font-weight: bold; }
p{
	padding: 25px 10px 10px 10px;
	background-color: gray;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid black;
	font-weight: bold;
}
.container-fluid{
	width: 100%;
	
}


@media(min-width:992px) and (max-width:1200px){
 .col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,.col-lg-11,.col-lg-12{
		float: left;
		border: 2px solid red;
		position: relative;

	}
	.col-lg-1{
				width: 8.33%;
			}
			.col-lg-2{
				width: 16.66%;
			}
			.col-lg-3{
				width: 25%;
			}
			.col-lg-4{
				width: 33%;
			}
			.col-lg-5;
			{
				width: 41.66%;
			}
			.col-lg-6{
				width: 50%;
			}
			.col-lg-7{
				width: 58.33%;
			}
			.col-lg-8{
				width: 66.66%;
			}
			.col-lg-9{
				width: 74.99%;
			}
			.col-lg-10{
				width: 83.33%;
			}
			.col-lg-11{
				width: 91.66;
			}
			.col-lg-12{
				width: 100%;
			}
		}
		@media(min-width:768px) and (max-width: 991px){.col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12{
			float: left;
			position: relative;
			/*left:25px;*/
			
			}
			.col-md-1{
				width: 8.33%;
			}
			.col-md-2{
				width: 16.66%;
			}
			.col-md-3{
				width: 25%;
			}
			.col-md-4{
				width: 33%;
			}
			.col-md-5;
			{
				width: 41.66%;
			}
			.col-md-6{
				width: 50%;
			}
			.col-md-7{
				width: 58.33%;
			}
			.col-md-8{
				width: 66.66%;
			}
			.col-md-9{
				width: 74.99%;
			}
			.col-md-10{
				width: 83.33%;
			}
			.col-md-11{
				width: 91.66;
			}
			.col-md-12{
				width: 100%;
			}
		}

			
/*@media(max-width: 778px){div{
				width: 100%;
				float:left;
		}}*/

h1{text-align: center;
color: blue;}

